{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>メンテ一覧</title>

<link rel="stylesheet" href="{% static 'mainteboard/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'mainteboard/css/create.css' %}">
<!--カレンダー入力用*/-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>

  </head>
  <body>
    <h1>Prease sign up here</h1>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome</h1>
        <form method="post">
          {{form.as_p}}
          {% csrf_token%}
          <input type="submit" class="btn btn-primary" value="登録">
        </form>
        <button onclick="location.href='http://127.0.0.1:8000/mainteboard/'" type="button" name="button" class="btn btn-danger">キャンセル</button>
      </div>
    </div>

  </body>
</html>
